@*@{
        ViewBag.Title = "Sorry";
    }*@

<h1 style="text-align: center;"><span style="color: #ff6600;"><strong>Sorry</strong></span></h1>

<body>
    <h3 style="text-align: center;"><span style="color: #000080;">You cannot access the page.</span></h3>
    <h3 style="text-align: center;"><span style="color: #000080;">Please contact the system administrator.</span></h3>
</body>

