


<body>
    <h1 style="text-align: center;"><span style="color: #ff6600;"><strong>Thank you for your time!</strong></span></h1>
    <h3 style="text-align: center;"><span style="color: #000080;">Please return the HIT.</span></h3>
</body>